<%- include("partials/header.ejs")  %>

<main style="display: flex; align-items: center; flex-direction: column; width: 100%;">


  <div id="popup">

    <!-- EJS renders the modal text differently depending on whether the user loaded the page normally or was redirected here after purchase -->
  
    <div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSheet">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
          <div class="modal-header border-bottom-0">
            <h1 class="modal-title fs-5"><%= title %></h1>
            <button type="button" class="btn-close" id="quit" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body py-0">
            <p><%= message %></p>
          </div>
          <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
            <button type="button" id="close" class="btn btn-lg btn-secondary" data-bs-dismiss="modal"><%= button %></button>
          </div>
        </div>
      </div>
    </div>
  
  </div>


<!-- Headline -->
<div class="col-xxl-8 px-4 mx-auto" style="width: 100%; background-image: url(/images/darkbg.png); padding-top: 100px!important; position: relative; padding-bottom: 35px; border-bottom: 2px solid #205242;">

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg" style="background-color: rgb(255, 255, 255); border: solid 2px #3c806c!important;">
      <div class="col-lg-10 p-3 p-lg-5 pt-lg-3 text-center mx-auto">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis" style=" border-bottom: solid 3px #3c806c!important; padding-bottom: 20px;">8-week Biology H1 Fast-Track</h1>
        <h4 class="my-4" style="color: #333333;">Secure your dream biology grade in 8 weeks.</h4>
        <p class="lead">What is the 8-week Biology H1 Fast-Track Challenge? I will cover almost 80% of the curriculum in 8 weeks. This plan can cater to every single student, no matter what your dream grade is. Through this plan, we will answer all relevant exam questions from the past 17 years of state exams!</p>
        <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
        </div>  ***might have a button here might not*** -->
      </div>
    </div>
  </div>

</div>




  <!-- What you get -->
  <div class="col-xxl-8 px-4 pt-5" style="background-color: white; width: 100%;">
    <div class="container">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 box" style="text-align: center; margin-top: 50px!important;" id="whatYouGetTitle">🔬What You Get🔬</h1>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 box" id="whatYouGet">
      <div class="col-12 col-sm-12 col-lg-6" style="display: flex; justify-content: center; position: relative;">
        <img src="/images/bundleImage.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" id="monitor" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <ul id="noDotsList">
            <h5><li>✔️ 2 Small group Zoom classes each week covering the chapter + exam questions.</li></h5>
            <h5><li>✔️ All classes are recorded.</li></h5>
            <h5><li>✔️ Complementary H1 Highlighted notes.</li></h5>
            <h5><li>Support:</li></h5>
              <h5 style="margin-left: 40px;"><li>✔️ Weekly 1-on-1 Support Calls.</li></h5>
              <h5 style="margin-left: 40px;"><li>✔️ 7 days a week email support.</li></h5>
              <h5 style="margin-left: 40px;"><li>✔️ 1-on-1 Mock Paper Analysis.</li></h5>
            <h5><li>Bonuses:</li></h5>
              <h5 style="margin-left: 40px;"><li>✔️ FAQ Topic Assessment Worksheets. (value €80)</li></h5>
              <h5 style="margin-left: 40px;"><li>✔️ Exam Question Checklist. </li></h5>
              <h5 style="margin-left: 40px;"><li>✔️ Simple-to-Follow Study Session Design Guide. </li></h5>
              <h5 style="margin-left: 40px;"><li>✔️ An additional 8 Revision Classes in May (value €200)</li></h5>
        </ul>
        <div class="d-grid gap-2 mt-5 d-md-flex justify-content-center">
          <form action="/api/create-checkout-session" method="POST">
            <input type="hidden" name="priceId" value="price_1QehIfGUne0h98JDTLw1J30Y">
              <button type="submit" class="btn btn-lg btn-primary" style="font-size: 2em!important;">Buy: €276</button>
            </form>
        </div>
      </div>
      </div>
    </div>
    </div>




    <div style="width: 100%; background-color: white; display: flex; flex-direction: column; padding-bottom: 70px;" class="pt-5">
      <h2 style="text-align: center;" class="mb-4 d-flex justify-content-center"><div id="star1">⭐</div>Reviews<div id="star2">⭐</div></h2>
      <div class="container">
        <div class="row justify-content-center gap-4">  
          
          <div class="col-md-4 col-lg-3 col-sm-12 d-flex justify-content-center box reviewCard" id="reviewCard">
            <div class="card" style="width: 18rem; border: solid 1px #3c806c!important; border-radius: 10px; box-shadow: 3px 7px 20px #d4d4d4;">
              <div class="card-body">
                <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
                  <img src="/images/Ethan.png" class="mb-2" height="40px" width="40px" style="border-radius: 50%;" alt="profile picture">
                  <img src="/images/Google-Reviews-icon.png" class="mb-2" height="30px" width="30px" style="border-radius: 50%;" alt="profile picture"> 
                </div>
                  <p class="card-text" style="min-height: 55%;">His notes are very helpful, easy to read, and highlight all the key points that are needed to know in the exam. I would definitely recommend them to any LC Biology student!</p>
                <div class="d-flex align-items-center">
                  <h5 class="card-title">Ethan</h5>
                  <h6 class="card-subtitle mb-1 mx-4 text-body-secondary">Student</h6>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-md-4 col-lg-3 col-sm-12 d-flex justify-content-center box reviewCard" id="reviewCard2">
            <div class="card" style="width: 18rem; border: solid 1px #3c806c!important; border-radius: 10px; box-shadow: 3px 7px 20px #d4d4d4;">
              <div class="card-body">
                <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
                  <img src="/images/unnamedA.png" class="mb-2" height="40px" width="40px" style="border-radius: 50%;" alt="profile picture">
                  <img src="/images/Google-Reviews-icon.png" class="mb-2" height="30px" width="30px" style="border-radius: 50%;" alt="profile picture"> 
                </div>
                <p class="card-text" style="min-height: 55%;">The notes are excellent, really concise. Brought my grade up massively, definitely worth checking them out!</p>
                <div class="d-flex align-items-center">
                  <h5 class="card-title">Alex</h5>
                  <h6 class="card-subtitle mb-1 mx-4 text-body-secondary">Student</h6>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-md-4 col-lg-3 col-sm-12 d-flex justify-content-center box reviewCard" id="reviewCard3">
            <div class="card" style="width: 18rem; border: solid 1px #3c806c!important; border-radius: 10px; box-shadow: 3px 7px 20px #d4d4d4;">
              <div class="card-body">
                <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
                  <img src="/images/Zara.png" class="mb-2" height="40px" width="40px" style="border-radius: 50%;" alt="profile picture">
                  <img src="/images/Google-Reviews-icon.png" class="mb-2" height="30px" width="30px" style="border-radius: 50%;" alt="profile picture"> 
                </div>
                <p class="card-text" style="min-height: 55%;">Max’s notes are so helpful as well as the time and effort he puts into his tiktok lives. highly recommend his page and resources. thank you!!</p>
                <div class="d-flex align-items-center">
                  <h5 class="card-title">Zara</h5>
                  <h6 class="card-subtitle mb-1 mx-4 text-body-secondary">Student</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <!-- classes -->

    <div class="col-xxl-8 px-4 py-2" style="background-color: white; width: 100%; padding-top: 50px;">

      <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 fw-bold text-body-emphasis">Only want some classes?</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Pick and choose the chapters you want to focus on.</p>
        </div>
      </div>

     <div id="carouselExample" class="carousel slide" style="width: 100%; background-color: white;">
      <div class="carousel-inner">
        <div class="carousel-item active">

          <div class="productCardContainer">

          <div class="productCardRow">
            <div class="productCard">
              <h1>Enzymes & Osmosis</h1>
              <h3>€19</h3>
              <p class="lead">March 9th, 7pm to 8:30pm</p>
              <div class="productButtonRow">
                <button class="add-to-cart-btn" 
                data-id="1"
                data-name="Product 1" 
                data-price-id="price_1QyZJQFArv9BTH3QUES0l90X"
                data-price="10.00">Add to Cart
                </button>

                <button class="remove-from-cart-btn"
                data-id="1">Remove from Cart
                </button>
              </div>
            </div>

            <div class="productCard">
              <h1>Respiration</h1>
              <h3>€19</h3>
              <p class="lead">March 16th, 3pm to 4:30pm</p>
              <div class="productButtonRow">
                <button class="add-to-cart-btn" 
                data-id="2"
                data-name="Product 2" 
                data-price-id="price_1QyZJkFArv9BTH3QQLVIIlCP"
                data-price="10.00">Add to Cart
                </button>

                <button class="remove-from-cart-btn"
                data-id="2">Remove from Cart
                </button>
              </div>
            </div>
          </div>

          <div class="productCardRow">
            <div class="productCard">
              <h1>Photosynthesis</h1>
              <h3>€19</h3>
              <p class="lead">March 19th, 7pm to 8:30pm</p>
              <div class="productButtonRow">
                <button class="add-to-cart-btn" 
                data-id="3"
                data-name="Product 3" 
                data-price-id="price_1QyZK2FArv9BTH3QmIa5u76a"
                data-price="10.00">Add to Cart
                </button>

                <button class="remove-from-cart-btn"
                data-id="3">Remove from Cart
                </button>
              </div>
            </div>

            <div class="productCard">
              <h1>Genetics</h1>
              <h3>€19</h3>
              <p class="lead">March 23rd, 3pm to 4:30pm</p>
              <div class="productButtonRow">
                <button class="add-to-cart-btn" 
                data-id="4"
                data-name="Product 4" 
                data-price-id="price_1QyZKUFArv9BTH3QRdnFYxak"
                data-price="10.00">Add to Cart
                </button>

                <button class="remove-from-cart-btn"
                data-id="4">Remove from Cart
                </button>
              </div>
            </div>
          </div>

        </div>
        </div>

        <div class="carousel-item">

          <div class="productCardContainer">

            <div class="productCardRow">
              <div class="productCard">
                <h1>DNA</h1>
                <h3>€19</h3>
                <p class="lead">March 26th, 7pm to 8:30pm</p>
                <div class="productButtonRow">
                  <button class="add-to-cart-btn" 
                  data-id="5"
                  data-name="Product 5" 
                  data-price-id="price_1QyZKsFArv9BTH3QpaidqcNm"
                  data-price="10.00">Add to Cart
                  </button>

                  <button class="remove-from-cart-btn"
                  data-id="5">Remove from Cart
                  </button>
                </div>
              </div>

              <div class="productCard">
                <h1>Microorganisms </h1>
                <h3>€29</h3>
                <p class="lead">March 30th 3pm to 5pm</p>
                <div class="productButtonRow">
                  <button class="add-to-cart-btn" 
                  data-id="6"
                  data-name="Product 6" 
                  data-price-id="price_1QyZL4FArv9BTH3QeNoqBjHh"
                  data-price="10.00">Add to Cart
                  </button>

                  <button class="remove-from-cart-btn"
                  data-id="6">Remove from Cart
                  </button>
                </div>
              </div>
            </div>

            <div class="productCardRow">
              <div class="productCard">
                <h1>Human Reproduction 1 & 2</h1>
                <h3>€19</h3>
                <p class="lead">April 2nd, 7pm to 8:30pm / April 6th, 3pm to 4:30pm</p>
                <div class="productButtonRow">
                  <button class="add-to-cart-btn" 
                  data-id="7"
                  data-name="Product 7" 
                  data-price-id="price_1QyZLGFArv9BTH3QwjKCaFsN"
                  data-price="10.00">Add to Cart
                  </button>

                  <button class="remove-from-cart-btn"
                  data-id="7">Remove from Cart
                  </button>
                </div>
              </div>

              <div class="productCard">
                <h1>Nervous System</h1>
                <h3>€19</h3>
                <p class="lead">April 9th, 7pm to 8:30pm</p>
                <div class="productButtonRow">
                  <button class="add-to-cart-btn" 
                  data-id="8"
                  data-name="Product 8" 
                  data-price-id="price_1QyZLUFArv9BTH3QJwwD9URJ"
                  data-price="10.00">Add to Cart
                  </button>

                  <button class="remove-from-cart-btn"
                  data-id="8">Remove from Cart
                  </button>
                </div>
              </div>
            </div>
  
          </div>

        </div>
        <div class="carousel-item">

          <div class="productCardContainer">

            <div class="productCardRow">
              <div class="productCard">
                <h1>Musculoskeletal System</h1>
                <h3>€19</h3>
                <p class="lead">April 13th, 3pm to 4:30pm</p>
                <div class="productButtonRow">
                  <button class="add-to-cart-btn" 
                  data-id="9"
                  data-name="Product 9" 
                  data-price-id="price_1QzTQ2FArv9BTH3QL6kkBILK"
                  data-price="10.00">Add to Cart
                  </button>

                  <button class="remove-from-cart-btn"
                  data-id="9">Remove from Cart
                  </button>
                </div>
              </div>

              <div class="productCard">
                <h1>Human Excretion and Homeostasis</h1>
                <h3>€19</h3>
                <p class="lead">April 16th, 7pm to 8:30pm</p>
                <div class="productButtonRow">
                  <button class="add-to-cart-btn" 
                  data-id="10"
                  data-name="Product 10" 
                  data-price-id="price_1QzTQJFArv9BTH3Qm1dKOtLd"
                  data-price="10.00">Add to Cart
                  </button>

                  <button class="remove-from-cart-btn"
                  data-id="10">Remove from Cart
                  </button>
                </div>
              </div>
            </div>

            <div class="productCardRow">
              <div class="productCard">
                <h1>Plant Structure</h1>
                <h3>€19</h3>
                <p class="lead">April 20th, 3pm to 4:30pm</p>
                <div class="productButtonRow">
                  <button class="add-to-cart-btn" 
                  data-id="11"
                  data-name="Product 11" 
                  data-price-id="price_1QzTQmFArv9BTH3QLMB4DYZr"
                  data-price="10.00">Add to Cart
                  </button>

                  <button class="remove-from-cart-btn"
                  data-id="11">Remove from Cart
                  </button>
                </div>
              </div>

              <div class="productCard">
                <h1>Plant Reproduction 1 & 2 </h1>
                <h3>€19</h3>
                <p class="lead">April 23rd, 7pm to 8:30 / April 27th, 3pm to 4:30pm</p>
                <div class="productButtonRow">
                  <button class="add-to-cart-btn" 
                  data-id="12"
                  data-name="Product 12" 
                  data-price-id="price_1QzTQwFArv9BTH3Qiicu9ZAu"
                  data-price="10.00">Add to Cart
                  </button>

                  <button class="remove-from-cart-btn"
                  data-id="12">Remove from Cart
                  </button>
                </div>
              </div>
            </div>
  
          </div>

        </div>
        <div class="carousel-item">

          <div class="productCardContainer">

            <div class="productCardRow">
              <div class="productCard">
                <h1>Plant Responses</h1>
                <h3>€19</h3>
                <p class="lead">April 30th, 7pm to 8:30pm</p>
                <div class="productButtonRow">
                  <button class="add-to-cart-btn" 
                  data-id="13"
                  data-name="Product 13" 
                  data-price-id="price_1QzTR7FArv9BTH3QgwlLZME6"
                  data-price="10.00">Add to Cart
                  </button>

                  <button class="remove-from-cart-btn"
                  data-id="13">Remove from Cart
                  </button>
                </div>
              </div>

              <div class="productCard">
                <h1>Plant Transport</h1>
                <h3>€19</h3>
                <p class="lead">May 4th, 3pm to 4:30pm</p>
                <div class="productButtonRow">
                  <button class="add-to-cart-btn" 
                  data-id="14"
                  data-name="Product 14" 
                  data-price-id="price_1QzTRHFArv9BTH3QCzzRTUde"
                  data-price="10.00">Add to Cart
                  </button>

                  <button class="remove-from-cart-btn"
                  data-id="14">Remove from Cart
                  </button>
                </div>
              </div>
            </div>
  
          </div>

        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div style="width: 100%;" class="d-flex justify-content-center">
      <p style="color: red;"><i>*notes and worksheets included*</i></p>
    </div>





  <!-- Your Story
  <div class="px-4 pt-5 text-center" style="border-top: solid 2px #3c806c; border-bottom: solid 2px #3c806c; width: 100%;">
    <h1 class="display-4 fw-bold box" style="color: #3b7765;" id="storyTitle">My Story</h1>
    <div class="col-lg-6 mx-auto box" id="storyText">
      <p class="lead mb-4" style="color: #205242;">Students ask me all the time how to study hard biology chapters. I get questions in comments, emails, and messages. So, in Novemeber, I began teaching the most requested chapters. These chapters:</p>
      <ol class="lead mb-4 mx-4" style="color: #205242!important; text-align: start; display: flex; flex-direction: column; align-items: center; padding: 0px!important; text-align: center;">
        <li>Seem the hardest</li>
        <li>Show up the most in exams,</li>
        <li>Make up over 50% of your grade (Yes, they matter a lot!)</li>
      </ol>
    </div>
    <div class="container overflow-hidden" style="max-height: 30vh; border-bottom: solid 1px #91d3c0!important; position: relative!important;">
      <div class="container px-5 box" id="storyImage">
        <img src="/images/mockup.png" class="img-fluid mb-4" alt="Example image" width="700" height="500" loading="lazy">
        <img src="/images/smallerPhone.png" style="position: absolute!important; width: 170px; height: auto; max-width: 100%; top: 20px; right: 400px; object-fit: contain;" id="phoneMock" class="img-fluid mb-4" alt="Example image">      
      </div>
    </div>
    <div class="col-lg-6 mx-auto box" id="storyText2">
      <p class="lead my-4" style="color: #205242;">I love teaching biology and want to make it easy to understand. I made these topics easier to understand. I use simple diagrams to show ideas. When students see what’s happening, it makes sense.<br><br>Students also love practicing exam questions. This helps them remember and feel ready.<br><br>Over 30 students now feel more confident with these chapters!</p>
    </div>
    <form action="/api/create-checkout-session" method="POST">
      <input type="hidden" name="priceId" value="price_1QehIfGUne0h98JDTLw1J30Y">
      <button type="submit" class="my-3 btn btn-lg btn-primary box" style="transform: translateY(0px)!important;" id="myStoryButton">Get Started</button>
      </form>
  </div>
   -->



  <!-- social proof 2 -->
  <div class="px-3 pt-5" style="background-color: white; width: 100%;">
  <div class="my-5 container box" id="testimonialTab" style="background-color: #fdfdfd; border: solid 1px #d4d4d4; border-radius: 20px; box-shadow: 3px 7px 20px #d4d4d4;">
    <div class="p-5 rounded-3">
      <h1 class="text-body-emphasis">Testimonials</h1>
      <div class="row">
        <p class="lead" style=" width: 100%; margin-bottom: -20px;">
          <i>“Max’s notes and classes are an absolute game-changer for anyone studying Leaving Cert Biology. His notes are genuinely H1 standard, it literally covers everything in a way that’s clear easy to digest. What sets them apart is how he highlights exactly what to memorise and how to approach exam questions- which takes the guesswork out of studying. His focus on exam techniques has made such a difference in how I approach the subject, and I feel much more prepared for my mocks because of it. I’d highly recommend his classes to any student who wants to improve their understanding and boost their grades”</i>
        </p>
        <h3 style="text-align: end; width: 100%; align-self: flex-end; margin-top: 20px;">- Success</h3>
      </div>
      <div class="divider" style="margin-bottom: 10px; background-color: rgb(36, 36, 36);"></div>
      <div class="row">
        <p class="lead" style=" width: 100%;">
          <i>“I can’t express how much I’ve benefited from these classes! Everything is explained thoroughly in multiple ways to ensure everyone can 1000% understand which is super helpful! All of the examples done during the classes are talked through completely and Max is happy to answer any questions! Really great to communicate with, he returned my corrected worksheet in a matter of minutes, as well as tips on how to improve on the areas I struggled with. I’ve never come across any other teacher or company who is so passionate about helping students do well. Cannot recommend him enough, definitely worth it if you want to do well in biology!!!”</i>
        </p>
        <h3 style="text-align: end; width: 100%; align-self: flex-end;">- Samara</h3>
      </div>
    </div>
  </div>
  </div>



    <!-- <div class="col-xxl-8 px-4 py-2" style="background-color: white; width: 100%; padding-top: 50px;">
        <div class="container">
        <div class="row flex-lg-row align-items-center g-5 py-5 box" id="offer">
          <div class="col-12 col-sm-8 col-lg-6">
            <img src="/images/MOCKPREPBUNDLE.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">€97 euro</h1>
            <p class="lead"><b>Recordings for the 6 topics + 2 bonus notes exclusively with this bundle. One time payment.</b></p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <form action="/api/create-checkout-session" method="POST">
                <input type="hidden" name="priceId" value="price_1QehIfGUne0h98JDTLw1J30Y">
                <button type="submit" class="btn btn-lg btn-primary">Buy Now</button>
                </form>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            </div>
          </div>
        </div>
        </div>
        <div class="divider container mt-5"></div>  -->


        <!-- Social Proof 3 -->
        <div class="container">
        <div style="width: 100%; height: 100%; background-color: white; margin: auto; border-radius: 20px;" id="greenReview" class="mt-4">
          <div class="d-flex py-3" style="flex-direction: column; justify-content: space-around; align-items: center;">
              <img height="100" width="100" style="border-radius: 50%;" src="/images/Max'sLogo.png">
              <p style="margin-bottom: -6px; margin-top: 10px; color: rgb(116, 170, 163);" class="lead">Max</p>
              <p class="lead" style="color: rgb(116, 170, 163);">TheLCBiologyGuy</p>
          </div>
        </div>
      </div>
      </div>
      
      
      <!-- <div id="new-tab" style="height: 100%; background: white!important; padding-bottom: 80px;">

        <div class="accordion box" id="accordionExample" style="width: 50%; min-width: 300px; margin-top: 50px;">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Will these recordings be useful even if I haven’t covered the topics in class?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Yes! Many students experienced the chapters for the first time in my classes, and they were all able to follow along and do well in the worksheets.</strong>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What happens when I buy the bundle?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Once payment is received I will share the Google Drive with you.</strong>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Are these topics enough for a H1?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Just learning these topics on their own, isn’t enough for a H1. But pairing this with my free notes build a strong foundation to eventually achieve a H1.</strong>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Can I purchase just 1 class?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Yes to purchase 1 class contact me at thelcbiologyguy@gmail.com</strong> 
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Why is this bundle only available till Feburary 16th?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>I will be teaching other classes, and I need room on the website for these new classes.</strong> 
              </div>
            </div>
          </div>
        </div>
      </div>  -->

    




</main>

<%- include("partials/footer.ejs")  %>