<%- include("partials/header.ejs")  %>

<main style="display: flex; align-items: center; flex-direction: column; width: 100%;">

<div id="popup">

  <!-- EJS renders the modal text differently depending on whether the user loaded the page normally or was redirected here after purchase -->

  <div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSheet">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header border-bottom-0">
          <h1 class="modal-title fs-5"><%= title %></h1>
          <button type="button" class="btn-close" id="quit" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-0">
          <p><%= message %></p>
        </div>
        <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
          <button type="button" id="close" class="btn btn-lg btn-secondary" data-bs-dismiss="modal"><%= button %></button>
        </div>
      </div>
    </div>
  </div>

</div>


    <!-- Hero tab -->
  
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg" style=" background-image: url(/images/background-biology.jpg); background-color: rgb(255, 255, 255); margin-top: 100px; width: 70%; margin-bottom: 20px;">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3" style="background-color: rgb(245, 245, 245); border-radius: 20px; margin-bottom: 20px;">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis" style="color: #000000!important;">Zoom Classes + Notes</h1>
        <p class="lead">Fast track your way to a top grade by grabbing a spot in my Zoom class. You'll also get full access to my notes.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <a href="#browse"><button class="checkout-btn btn btn-primary btn-lg px-4 me-md-2 fw-bold">Browse</button></a>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg" style="background-color: #c5c5c531;">
          <img id="lessons-photo" class="rounded-lg-3" src="/images/paid.png" alt="biology cover pic" width="360px" height="100%" style="border: 2px solid black; border-radius: 5px;">
      </div>
    </div>
    


          <!-- Package Differences -->


          <div class="row row-cols-1 row-cols-md-3 px-4 text-center flex justify-content-center" style="width: 100vw; background-color: rgb(248 249 250); padding-bottom: 60px; padding-top: 100px;">
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">🎁Single Class🎁</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">€16<small class="text-body-secondary fw-light"></small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>One class for €16, book as many as you like</li>
                    <li>Notes and recording for the class are included</li>
                  </ul>
                  <a href="#browse"><button type="button" class="w-100 btn btn-lg buttonFree" style="border: 1px solid #51a890;">Browse</button></a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm" style="border: 1px solid #51a890;">
                <div class="card-header py-3" style="background-color: #51a890;">
                  <h4 class="my-0 fw-normal" style="color: white;">🌟Mock Prep Bundle!🌟</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">€97<small class="text-body-secondary fw-light"></small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>All January classes included</li>
                    <li>Recordings for all January classes</li>
                    <li>Comprehensive Notes</li>
                    <li>Two bonus chapters (Enzymes and Osmosis)</li>
                  </ul>
                  <form action="/api/create-checkout-session" method="POST">
                    <input type="hidden" name="priceId" value="price_1QehIfGUne0h98JDTLw1J30Y">
                    <button type="submit" class="w-100 btn btn-lg buttonGreen" style="background-color: #51a890; color: white;">Purchase</button>
                    </form>
                </div>
              </div>
            </div>
          </div>


    <!-- Features list -->

    <div class="p-5 text-center bg-body-tertiary" style="height: 100%!important; width: 100%!important;">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon bi bi-award-fill" viewBox="0 0 16 16" style="background-color: #af737300;">
            <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864z"/>
            <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z"/>
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Expert-Led Biology Classes</h3>
            <p>I'm experienced at simplifying complex biology concepts, ensuring you understand and excel in every lesson.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon bi bi-laptop" viewBox="0 0 16 16" style="background-color: #af737300;">
            <path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5"/>
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Flexible Online Learning</h3>
            <p>Join my fully online Zoom Biology classes from anywhere. Classes are from 7pm - 8:30pm while classes on Sunday are from 3pm - 4:30pm.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start secondary-disapear">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon bi bi-bag-check-fill" viewBox="0 0 16 16" style="background-color: #af737300;">
            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0m-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Comprehensive Study Materials</h3>
            <p>Get access to high-quality lecture notes, practice questions, and downloadable resources to reinforce your learning.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start secondary-disapear">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon bi bi-people-fill" viewBox="0 0 16 16" style="background-color: #af737300;">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Small Class Sizes for Personalized Attention</h3>
            <p>With small class sizes, you receive personalized attention and support to ensure your success.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start secondary-disapear">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon bi bi-person-raised-hand" viewBox="0 0 16 16" style="background-color: #af737300;">
            <path d="M6 6.207v9.043a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H6.236a1 1 0 0 1-.447-.106l-.33-.165A.83.83 0 0 1 5 2.488V.75a.75.75 0 0 0-1.5 0v2.083c0 .715.404 1.37 1.044 1.689L5.5 5c.32.32.5.754.5 1.207"/>
            <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Real-Time Q&A and Feedback</h3>
            <p>Ask questions during class and receive immediate feedback, ensuring you fully understand each concept.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon bi bi-record-circle" viewBox="0 0 16 16" style="background-color: #af737300; padding-right: 3px">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Access to Recorded Sessions</h3>
            <p>Miss a class? Access recorded sessions anytime, so you can learn at your own pace and review material when needed.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon bi bi-journal-text" viewBox="0 0 16 16" style="background-color: #af737300;">
            <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Exam-Ready Preparation</h3>
            <p>Our classes are designed to thoroughly prepare you for exams with practice questions, mock tests, and exam strategies.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start secondary-disapear">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon bi bi-check2" viewBox="0 0 16 16" style="background-color: #af737300;">
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
          </svg>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis feature">Affordable and Accessible</h3>
            <p>We offer competitive pricing and flexible payment plans to make our Zoom Biology classes accessible to all students.</p>
          </div>
        </div>
      </div>
    </div>


      <!-- Testimonials -->

      <div id="carouselExample" class="carousel slide" style="width: 100vw; background-color: white;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div id="testimonial-tab" style="background-image: url(/images/benner_2.jpg);">
              <img id="testimonial-picture" src="/images/default-avatar-photo-placeholder.jpg" alt="profile picture">
              <h2 style="font-weight: 700;">Bill - Parent</h2>
              <p id="testimonial-text" style="text-align: center; max-width: 700px; font-weight: 500;">“Max recently gave my son lessons in leaving cert Biology over Zoom. My son found them most helpful. Topics that had been difficult to grasp were made clear by Max's clear presentation of the subject. Though an expert in the field, it's not that long since Max has been through the leaving cert cycle so he knows what is required. Sample exam questions were done for each topic. I would have no hesitation in recommending Max for Biology lessons”</p>
              
            </div>      
          </div>
          <div class="carousel-item">
            <div id="testimonial-tab" style="background-image: url(/images/benner_2.jpg);">
              <img id="testimonial-picture" src="/images/default-avatar-photo-placeholder.jpg" alt="profile picture">
              <h2 style="font-weight: 700;">Kitty - Former Student</h2>
              <p id="testimonial-text" style="text-align: center; max-width: 800px; font-weight: 500;">“Max had a very good knowledge of the topics he was teaching us and he explained them in a detailed and clear manner. I also really enjoyed when Max went over exam questions at the end of class to make sure we have understood the material and if we did not understand the material correctly he would explain it again.”</p>
             
            </div> 
          </div>
          <div class="carousel-item">
            <div id="testimonial-tab" style="background-image: url(/images/benner_2.jpg);">
              <img id="testimonial-picture" src="/images/default-avatar-photo-placeholder.jpg" alt="profile picture">
              <h2 style="font-weight: 700;">Emma - Student</h2>
              <p id="testimonial-text" style="text-align: center; max-width: 700px; font-weight: 500;">“Hi Max
                Just wanted to say thank you for biology class on experiments. The biology class provided outstanding preparation for the experiment section in the leaving cert paper. It was really helpful to get guidance as well as additional notes to look back on making me feel both well prepared and confident for my exam. Overall this class gave me a strong foundation in the lc experiments and really improved my understanding. Thanks again!“
                </p>
              
            </div> 
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>




<!-- questions -->

      <div style="background-color: rgb(248 249 250); width: 100%!important; padding-top: 50px;">
      <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom" style="text-align: center;">In Case You're Wondering</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class=" col" style="text-align: center;">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center textbg-gradient fs-2 mb-3">
              ❔
            </div>
            <h3 class="fs-2 text-body-emphasis">Why are my notes different?</h3>
            <p>My notes have been crafted using the curriculum and marking scheme. They are colourful, concise and easy to read too.</p>
          </div>
          <div class=" col" style="text-align: center;">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text bg-gradient fs-2 mb-3">
              🤔
            </div>
            <h3 class="fs-2 text-body-emphasis">How does this work?</h3>
            <p>Upon purchasing, you’ll be sent an email with a link to the Zoom session (be sure to check your junk folder). </p>
          </div>
          <div class=" col" style="text-align: center;">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text bg-gradient fs-2 mb-3">
              🤷🏽‍♂️
            </div>
            <h3 class="fs-2 text-body-emphasis">What about the notes/recordings?</h3>
            <p id="browse">Notes and the recording will be accessed from Google Drive. The access link will be sent after the Zoom session ends.</p>
          </div>
        </div>
      </div>
      </div>


      <!-- Product list -->
    

      <div style="width: 100vw;">
        <div class="p-5 text-center bg-body-tertiary">
          <div class="container py-5">
            <h1 class="display-4 fw-bold  feature"><span class="finger-down">👇</span>Choose One or Several Classes<span class="finger-down">👇</span></h1>
            <p class="lead mb-4">*All class purchases come with full access to notes*</p>
          </div>
        </div>
      </div>



    <!-- Weekly Product Info -->
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5 px-5" style="background-color: white; width: 100vw; border-top: solid 2px #3c806c;">
      <div class="col d-flex flex-column align-items-start gap-2" style="padding-bottom: 50px;">
        <h2 class="fw-bold text-body-emphasis product-title" style="font-size: 3em;">Photosynthesis Masterclass</h2><p class="lead fw-bold" style="color: #ff0000;">(Class over: Recording available)</p>
        <ul>
          <li>Photosynthesis can be asked in all sections of the Leaving Certificate Biology paper. 
          </li>
          <li>Photosynthesis has appeared in 18 of the 19 past exam papers since 2008.
          </li>
          <li>90-minute Zoom session.
          </li>
          <li>Recording of the live session
          </li>
          <li>H1 notes with past examined information highlighted.
          </li>
        </ul>
        <form action="/api/create-checkout-session" method="POST">
          <input type="hidden" name="priceId" value="price_1QehADGUne0h98JDqF5tGDd3">
          <button type="submit" class="btn btn-primary btn-lg checkout-btn-2">Purchase</button>
          </form>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <h4 class="fw-semibold mb-0 text-body-emphasis" style="font-size: 2em;">Date</h4>
            <p class="text-body-secondary">Tuesday, 14th of January</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <h4 class="fw-semibold mb-0 text-body-emphasis" style="font-size: 2em;">Time</h4>
            <p class="text-body-secondary">19:00 - 20:30</p>
          </div>
        </div>
      </div>
    </div>




    
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5 px-5" style="background-color: white; width: 100vw; border-top: solid 2px #3c806c;">
      <div class="col d-flex flex-column align-items-start gap-2" style="padding-bottom: 50px;">
        <h2 class="fw-bold text-body-emphasis product-title" style="font-size: 3em">Respiration Masterclass</h2><p class="lead fw-bold" style="color: #ff0000;">(Class over: Recording available)</p>
        <ul>
          <li>Respiration can be asked in all sections of the Leaving Certificate Biology paper.  
          </li>
          <li>Respiration has appeared in 18 of the 19 past exam papers since 2008.
          </li>
          <li>90-minute Zoom session.
          </li>
          <li>Recording of the live session
          </li>
          <li>H1 notes with past examined information highlighted.
          </li>
        </ul>
        <form action="/api/create-checkout-session" method="POST">
          <input type="hidden" name="priceId" value="price_1QehCmGUne0h98JDTq4giR26">
          <button type="submit" class="btn btn-primary btn-lg checkout-btn-2">Purchase</button>
          </form>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <h4 class="fw-semibold mb-0 text-body-emphasis" style="font-size: 2em;">Date</h4>
            <p class="text-body-secondary">Wednesday, 15th of January</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <h4 class="fw-semibold mb-0 text-body-emphasis" style="font-size: 2em;">Time</h4>
            <p class="text-body-secondary">19:00 - 20:30</p>
          </div>
        </div>
      </div>
    </div>




    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5 px-5" style="background-color: white; width: 100vw; border-top: solid 2px #3c806c;">
      <div class="col d-flex flex-column align-items-start gap-2" style="padding-bottom: 50px;">
        <h2 class="fw-bold text-body-emphasis product-title" style="font-size: 3em">Genetics Masterclass</h2><p class="lead fw-bold" style="color: #ff0000;">(Class over: Recording available)</p>
        <ul>
          <li>Genetics (including Genetic Engineering) can be asked in section A and section C of the Leaving Certificate Biology paper.  
          </li>
          <li><strong>Genetics appears every year.</strong>
          </li>
          <li>90-minute Zoom session.
          </li>
          <li>Recording of the live session
          </li>
          <li>H1 notes with past examined information highlighted.
          </li>
        </ul>
        <form action="/api/create-checkout-session" method="POST">
          <input type="hidden" name="priceId" value="price_1QehDUGUne0h98JDPWdjoR6J">
          <button type="submit" class="btn btn-primary btn-lg checkout-btn-2">Purchase</button>
          </form>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <h4 class="fw-semibold mb-0 text-body-emphasis" style="font-size: 2em;">Date</h4>
            <p class="text-body-secondary">Sunday, 19th of January</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <h4 class="fw-semibold mb-0 text-body-emphasis" style="font-size: 2em;">Time</h4>
            <p class="text-body-secondary">15:00 - 16:30</p>
          </div>
        </div>
      </div>
    </div>




    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5 px-5" style="background-color: white; width: 100vw; border-top: solid 2px #3c806c;">
      <div class="col d-flex flex-column align-items-start gap-2" style="padding-bottom: 50px;">
        <h2 class="fw-bold text-body-emphasis product-title" style="font-size: 3em">DNA Masterclass</h2><p class="lead fw-bold" style="color: #ff0000;">(Class over: Recording available)</p>
        <ul>
          <li>DNA can be asked in all sections of the Leaving Certificate Biology paper.
          </li>
          <li>DNA has appeared in 17 of the 19 past exam papers since 2008.
          </li>
          <li>90-minute Zoom session.
          </li>
          <li>Recording of the live session
          </li>
          <li>H1 notes with past examined information highlighted.
          </li>
        </ul>
        <form action="/api/create-checkout-session" method="POST">
          <input type="hidden" name="priceId" value="price_1QehE6GUne0h98JDaRY105PH">
          <button type="submit" class="btn btn-primary btn-lg checkout-btn-2">Purchase</button>
          </form>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <h4 class="fw-semibold mb-0 text-body-emphasis" style="font-size: 2em;">Date</h4>
            <p class="text-body-secondary">Tuesday, 21st of January</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <h4 class="fw-semibold mb-0 text-body-emphasis" style="font-size: 2em;">Time</h4>
            <p class="text-body-secondary">19:00 - 20:30</p>
          </div>
        </div>
      </div>
    </div>



    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5 px-5" style="background-color: white; width: 100vw; border-top: solid 2px #3c806c;">
      <div class="col d-flex flex-column align-items-start gap-2" style="padding-bottom: 50px;">
        <h2 class="fw-bold text-body-emphasis product-title" style="font-size: 3em">Human Reproduction Masterclass</h2>
        <ul>
          <li>Human reproduction is the most commonly asked human system in the curriculum. 
          </li>
          <li>Asked in sections A and C of the Leaving Certificate Biology paper.
          </li>
          <li>Appeared in 17 of the 19 past exam papers since 2008.
          </li>
          <li>90-minute Zoom session.
          </li>
          <li>Recording of the live session
          </li>
          <li>H1 notes with past examined information highlighted.
          </li>
        </ul>
        <form action="/api/create-checkout-session" method="POST">
          <input type="hidden" name="priceId" value="price_1QehEfGUne0h98JDJ0ByQyP7">
          <button type="submit" class="btn btn-primary btn-lg checkout-btn-2">Purchase</button>
          </form>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <h4 class="fw-semibold mb-0 text-body-emphasis" style="font-size: 2em;">Date</h4>
            <p class="text-body-secondary">Wednesday, 22nd of January</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <h4 class="fw-semibold mb-0 text-body-emphasis" style="font-size: 2em;">Time</h4>
            <p class="text-body-secondary">19:00 - 20:30</p>
          </div>
        </div>
      </div>
    </div>




    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5 px-5" style="background-color: white; width: 100vw; border-top: solid 2px #3c806c;">
      <div class="col d-flex flex-column align-items-start gap-2" style="padding-bottom: 50px;">
        <h2 class="fw-bold text-body-emphasis product-title" style="font-size: 3em">Plant Reproduction Masterclass</h2>
        <ul>
          <li>Plant reproduction is the most commonly asked plant chapter in the curriculum. 
          </li>
          <li>Appears in all sections of the Leaving Certificate Biology paper.
          </li>
          <li>Examined in 16 of the 19 past exam papers since 2008.
          </li>
          <li>This class also includes Vegetative Propagation.
          </li>
          <li>90-minute Zoom session.
          </li>
          <li>Recording of the live session
          </li>
          <li>H1 notes with past examined information highlighted.
          </li>
        </ul>
        <form action="/api/create-checkout-session" method="POST">
          <input type="hidden" name="priceId" value="price_1QehFFGUne0h98JDChFxyEbd">
          <button type="submit" class="btn btn-primary btn-lg checkout-btn-2">Purchase</button>
          </form>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <h4 class="fw-semibold mb-0 text-body-emphasis" style="font-size: 2em;">Date</h4>
            <p class="text-body-secondary">Sunday, 26th of January</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <h4 class="fw-semibold mb-0 text-body-emphasis" style="font-size: 2em;">Time</h4>
            <p class="text-body-secondary">15:00 - 16:30</p>
          </div>
        </div>
      </div>
    </div>





</main>

<%- include("partials/footer.ejs")  %>